@page "/"
@namespace BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DataTable Blazored (Server)</title>
    <base href="~/"/>
    <link href="lib/bs4/css/bootstrap.min.css" rel="stylesheet"/>
    
    <link href="lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="lib/datatables.net-scroller-bs4/scroller.bootstrap4.min.css" rel="stylesheet" />
    
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>

<script type="text/javascript">
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="js/blazor.polyfill.min.js"><\/script>');
        }
</script>
<script>
window.blazor = {
    renderDate: function (data) {
        return new Date(data).toLocaleDateString();
        //return  data.toLocaleString("es-EC");
    }
};
</script>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bs4/js/bootstrap.min.js"></script>

<script src="lib/datatables.net/jquery.dataTables.min.js"></script>
<script src="lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
<script src="lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
<script src="lib/datatables.net-scroller/dataTables.scroller.min.js"></script>
<script src="lib/datatables.net-scroller-bs4/scroller.bootstrap4.min.js"></script>

<script src="_framework/blazor.server.js"></script>
<script src="_content/DataTables.Blazored/datatables-blazored.js"></script>

</body>
</html>
