@page "/"
@namespace BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DataTable Blazored (Server)</title>
    <base href="~/"/>
    <link href="lib/bs5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>

<script type="text/javascript">
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="js/blazor.polyfill.min.js"><\/script>');
        }
</script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bs5/js/bootstrap.min.js"></script>

<script src="_framework/blazor.server.js"></script>

<script src="_content/DataTables.Blazored/datatables-blazored.js"></script>
<script src="_content/DataTables.Blazored/datatables-blazored-bs5.js"></script>

</body>
</html>
