@page "/blazor"
@using System.Collections.ObjectModel
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Linq.Expressions
@using System.Reflection
@using Blazored.Table.Models
@using BlazorShared.Data.Entities
@using BlazorServer.Interfaces
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject IEmployeeRepository _employeeRepository

<h1>Blazored Table Sample</h1>

<hr class="mb-5"/>

<p>
    This is an example of using Blazored Table in its most simplistic form.
</p>

<BlazoredTable Columns="Columns" OnLoad="GetData" @ref="_table"/>

@code {

    public ObservableCollection<TableColumn> Columns { get; set; }
    public Expression<Func<Employee, object>> Selector { get; set; }
    
    private BlazoredTable _table;

    protected override async Task OnInitializedAsync()
    {
        
        Selector = s => new {s.Id, s.FirstName, s.LastName, s.Office, s.Position, s.StartDate, s.Salary};

        var columns = typeof(Employee).GetProperties().Select(m => new
        {
            m.Name,
            Data = char.ToLower(m.Name[0]) + m.Name.Substring(1),
            Display = m.GetCustomAttribute<DisplayNameAttribute>()?.DisplayName ?? m.Name,
            Format = m.GetCustomAttribute<DisplayFormatAttribute>()?.DataFormatString ?? "{0:0.00}",
        });
        Columns = new ObservableCollection<TableColumn>(columns.Select(m => new TableColumn() {Title = m.Display, Data = m.Data, Name = m.Name, Format = m.Format}));

        await base.OnInitializedAsync();
    }

    public async Task<TableResult> GetData(TableRequestViewModel request = null)
    {
        var data = await _employeeRepository.GetDataAsync(request, Selector);
        return data;
    }

}