@page "/"
@using System.Collections.ObjectModel
@using System.IO
@using BlazorServer.Models

<h1>Blazored Table Sample</h1>

<hr class="mb-5" />

<p>
    This is an example of using Blazored Table in its most simplistic form.
</p>
@if (Employees != null)
{
    <BlazoredTable Id="Example1" DataSource="Employees" />
}
