@page "/"

<h1>Blazored Table Sample</h1>

<hr class="mb-5" />

<p>
    This is an example of using Blazored Table in its most simplistic form.
</p>

<div class="card mb-4">
    <div class="card-body">
        <p class="card-text">
            <code>
                
            </code>
        </p>
    </div>
</div>

@code {

    [CascadingParameter] public ITableService Table { get; set; }

}