@page "/"
@using System.Collections.ObjectModel
@using System.IO
@using BlazorServer.Models

<h1>Blazored Table Sample</h1>

<hr class="mb-5" />

<p>
    This is an example of using Blazored Table in its most simplistic form.
</p>

<BlazoredTable Id="Example1" AjaxUrl="/api/animals" />

@code {

    [Parameter]
    public ObservableCollection<object> Employees { get; set; }

    protected override async Task OnInitializedAsync()
    {
        /*var dir = Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "data");
        var json = await File.ReadAllTextAsync($"{dir}/employees.json");
        var data = Newtonsoft.Json.JsonConvert.DeserializeObject<IEnumerable<Employee>>(json);
        if (data != null) Employees = new ObservableCollection<object>(data);*/
        await base.OnInitializedAsync();
    }

}